body 
{
	padding: 0;
	margin: 0;
	font-family: 'helvatica', sans-serif;
	text-align: center;
	background-clip: #ffffff; 
}
header
{
	position: relative;
	width: 100%;
	height: 150px;
	left: 0;
	background: #292830;
	top: 0;
}
header h2
{
	position: absolute;
	color: #ffffff;
	left: 0;
	right: 0;
	margin: auto;
	top: 50px;
	font-size: 30px;
	font-weight: bold;
}
.tableOuter
{
	width: 750px;
	height: 580px;
	margin: 0 auto;
	background: #e7e7e7;
	border-radius: 10px;
}
input[type="text"], input[type="password"],input[type="tel"],
textarea
{
	width: 60%;
	margin: 10px;
	height: 50px;
	background: #ffffff;
	border-radius: 5px;
	text-align: center;
	font-size: 25px;
	color: gray;
}

::placeholder
{
	font: 25px;
	text-align: center;
}
.sub
{
	height: 40px;
	width: 35%;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 25px;
	color: white;
	font-weight: bolder;
	cursor: pointer;
	margin: 15px;
}
#giris
{background: #10ac84;}
#uye
{background: #ee5253;}
#giris:hover
{background: #1dd1a1;}
#uye:hover
{background: #ff6b6b;}
a
{
	font-size: 18px;
	color: (100, 100, 100);
}
.ust_bar
{
	position: relative;
	width: 85%;
	height: 100px;
	left: 0;
	background: #292830;
	top: 0;
}
.ust_bar h1
{
	position: absolute;
	left: 50px;
	line-height: 50px;
	color: white;
}
.menu h5
{
	position: relative;
	display: inline;
	padding: 50px;
	line-height: 100px;
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.menu
{
	position: absolute;
	width: 600px;
	height: 100px;
	background: #292830;
	right: 0;
}
a
{text-decoration: none;}
.cikis
{
	position: absolute;
	width: 15%;
	height: 100px;
	background: #292830;
	right: 0;
	color: white;
	text-align: center;
	line-height: 100px;
	font-size: 25px;
	cursor: pointer;
	top: 0;
}
.cikis:hover
{background: red;}
.adsoyad
{
	position: relative;
	width: 300px;
	height: 20px;
	left: 50px;
}
.adsoyad h4
{
	position: relative;
	float: left;
	color: #292830;
}
.orta_div
{
	position: absolute;
	width: 45%;
	height: 500px;
	background: #e7e7e7;
	top: 150px;
	opacity: 0.8;
}
select,button
{
	position: relative;
	width: 450px;
	height: 40px;
	margin-top: 10px;
	background: #292830;
	color: white;
	cursor: pointer;
}
.hesabim_content
{
	position: relative;
	width: 60%;
	height: auto;
	left: 20%;
	top: 50px;
	background: #e7e7e7;
	opacity: 0.7;
}
.label
{
	position: relative;
	width: 100%;
	height: 60px;
}
.label label
{
	position: relative;
	font-size: 25px;
	line-height: 60px;
	left: 50px;
}
.label input
{
	position: relative;
	float: right;
	height: 40px;
}
.hesabim_content button
{
	position: relative;
	float: right;
	width: 150px;
	height: 40px;
	cursor: pointer;
	background: orange;
}
.hesabim_content button:hover
{background: red;}
table
{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
td,tr
{
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}
tr:nth-child(even)
{background: #dddddd;}